label {
  float: left !important;
}

.container {
  max-width: 350px !important;
  margin: auto !important;
  width: 50% !important;
  padding: 10px !important;
}

.btn {
  border-radius: 0px !important;
}

.loginButton {
  width: 100% !important;
}

.form-group {
  margin: 2em 0em 2em 0em !important;
}
